<dom-module id="test-element">
  <template>
    <p>id {{id}}</p>
  </template>
  <script>Polymer({
    is: 'test-element',
    properties: {
      id: {
        type: String,
        observer: '_userIdChanged'
      }
    },
    ready: function() {
      console.log("id: " + this.id);
      /*var p = Polymer.dom(this.root).querySelector('p');
       p.innerHTML = "id: " + this.id;
       Polymer.dom(this.root).appendChild(p);*/
    },
    _userIdChanged: function() {
      console.log("new id: " + this.id);
    }
  });</script>
</dom-module>